.allLineContainer {
  padding-top: 1rem;
  padding-right: 1rem;
/*  box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;*/
/*  -moz-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;*/
/*  -webkit-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;*/
}

.pageHeaderContainer{
  display: flex;
  justify-content: center; 
}

.pageHeader{
  font-size: 4rem;
  color: rgb(128 0 53) ;
}
.pageHeaderContainer{
    text-align: center;
    background-image: url(../../assets/surah-header.svg);
    background-size: 100%;
    background-position: 50% 50%;
    width: 100%;
    padding: 1.55%;
}

.parentBismillahContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bismillahContainer{
    text-align: center;
    background-image: url(../../assets/bismilah.svg);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    width: 250px;
    height: 90px;
    object-fit: cover;
}