.navContainer {
  grid-column: 1/3;
  grid-row: 1;
  width: 100%;
  height: 3rem;
  background-color: 151311;
  display: flex;
  align-items: center;
}

.fontSizer {
  color: white;
  font-size: 12pt;
  padding: 2px;
  cursor: pointer;
}

.sm {
 font-size: 8pt;
}

.btn span.icon {
    background: url(https://api.iconify.design/fontisto:left-align.svg?color=%23888822) no-repeat;
    float: right;
    width: 20px;
    height: 13px;
    cursor: pointer;
    margin: 7px;
}